---
import Layout from "@layouts/Layout.astro";
import Title from "@sections/services/Title.astro";
import ServiceSection from "@sections/services/ServiceSection.astro";
import Contact from "@sections/Contact.astro";

import { SERVICES } from "@/data/services";

export const prerender = true;

export function getStaticPaths() {
  return SERVICES.map(({ id, title, description, image, sections }) => {
    return {
      params: { id },
      props: { title, description, image, sections },
    };
  });
}

const { title, description, image, sections } = Astro.props;
---

<Layout>
  <Title
    title={title}
    description={description}
    image={`/src/assets/images/${image}`}
  />
  <main>
    {
      sections.map((section) => (
        <ServiceSection title={section.title} answer={section.answer} />
      ))
    }
    <Contact />
  </main>
</Layout>
