---
import Layout from "@layouts/Layout.astro";
import Title from "@sections/services/Title.astro";
import ServiceSection from "@sections/services/ServiceSection.astro";
import Contact from "@sections/Contact.astro";

import { SERVICES } from "@/data/services";

export function getStaticPaths() {
  return SERVICES.map(({ id }) => {
    return { params: { id } }
  });
}

const { id } = Astro.params;

const [ service ] = SERVICES.filter((service) => service.id === id);
---
<Layout>
  <Title title={service.title} description={service.description} image={`/src/assets/images/${service.image}`} />
  <main>
    {
      service.sections.map((section) => (
        <ServiceSection title={section.title} answer={section.answer} />
      ))
    }
    <Contact />
  </main>
</Layout>